<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light mb-1">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn sidebar-toggle-btn">
          <i class="fas fa-align-left"></i>
        </button>
      </div>
    </nav>
    <div class="container">
        <div class="spinner-container">
            <div class="spinner"></div>
          </div>
    </div>
  </div>
  