<!-- <section id="access" style="padding-top: 120px;">
    <div class="access-form">
      <div class="row">
        <div class="col-md-5 white-container pt-5 pb-5">
          <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="container">
                    <div class="container center">
                      <img
                        src="/images/logo.svg"
                        alt=""
                        class="img-fluid medium-logo"
                      />
                      <h2 class="">Sign in to your account</h2>
                      <p class="login-catch-phrase">
                        Access our Platform today!
                      </p>
                      <p class="login-message" id="login-message"></p>
                    </div>
                
                <p class="lets-connect-wallet">First Let's Connect Your Wallet</p>
                    <button id="connectButton" class="connect-with-metamask form-control"><img src="/images/1683020772metamask-logo-png.webp" class="img-fluid" alt=""></button>
                    <p id="statusMessage" class="statusMessage"></p>

                   
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-7">
          <div class="container mb-5">
            <div class="hero-fancy-button">
              <div class="row">
                <div class="col-12 falling-element">
                  <a class="btn btn-fancy-hero rounded-pill btn-pulse" href="/platform">STAKE NOW</a>
                </div>
                <div class="col-6 falling-element-2">
                  <a class="btn btn-fancy-hero rounded-pill btn-pulse" href="/calculator"
                    >CALCULATOR</a
                  >
                </div>
                <div class="col-6 falling-element-2">
                  <a
                    class="btn btn-fancy-hero rounded-pill btn-pulse"
                    href="/contact-us"
                    >CONTACT</a
                  >
                </div>
                <div class="col-12 falling-element">
                  <a
                    class="btn btn-fancy-hero rounded-pill btn-pulse"
                    href="/about-us"
                    >ABOUT US</a
                  >
                </div>
                <div class="col-6 falling-element-2">
                  <a
                    class="btn btn-fancy-hero rounded-pill btn-pulse"
                    href="https://docs.strataone.io"
                    >GUIDE</a
                  >
                </div>
                <div class="col-6 falling-element-2">
                  <a class="btn btn-fancy-hero rounded-pill btn-pulse" href="/network"
                    >NETWORK</a
                  >
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </section> -->
  

  <section id="access">
    <div class="access-form">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 white-container">
          <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="container">
                    <div class="container center">
                      <img
                        src="/images/logo.svg"
                        alt=""
                        class="img-fluid medium-logo"
                      />
                      <h2 class="">Create an Account</h2>
                      <p class="login-catch-phrase">
                        Create an admin account today!
                      </p>
                      <p class="register-message"></p>
                    </div>
    
                    <form action="/sign-up" method="post">
                        <div class="mb-3">
                            <label for="name">Username</label>
                            <input
                              type="text"
                              name="username"
                              id="username"
                              placeholder="Username"
                              class="form-control access-input regname"
                            />
                          </div>
                      <div class="mb-3">
                        <label for="email">Email</label>
                        <input
                          type="email"
                          name="email"
                          id="email"
                          placeholder="Email"
                          class="form-control access-input regemail"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="password">Password</label>
                        <input
                          type="password"
                          name="password"
                          id="password"
                          placeholder="*************"
                          class="form-control access-input regpassword"
                        />
                      </div>
                      <div class="form-check mb-3">
                        <div class="row">
                          <div class="col-6">
                            <input
                              class="form-check-input checkWidth extra-small"
                              type="checkbox"
                              id="rememberCheck"
                            />
                            <label
                              class="form-check-label extra-small"
                              for="rememberCheck"
                            >
                              <span class="ps-1">Remember me</span>
                            </label>
                          </div>
                          <div class="col-6 right">
                            <a href="#" class="access-link"> Forgot your password?</a>
                          </div>
                        </div>
                      </div>
                      <button
                        class="btn btn-secondary btn-style access-btn-style form-control access-btn mb-3 sign-up-btn"
                      >
                        Sign Up
                      </button>
                      <p class="center">Have an account? <span><a href="/sign-in" class="access-link"> Sign in</a></span></p>
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </section>
  